# Ignorer les dépendances
node_modules/
projects/**/node_modules/

# Ignorer les builds
dist/
projects/**/dist/
.angular/

# Ignorer les fichiers de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les locks spécifiques à bun ou autres
bun.lockb

# Ignorer les fichiers générés
.DS_Store
Thumbs.db

# Ignorer les fichiers de configuration d’éditeur
.vscode/
*.swp

# Ignorer les fichiers environnement (si utilisés)
.env
.env.*.local

# Ignorer les sorties temporaires
*.tmp
*.temp

# Ignorer les caches de bundler ou autres
.cache/
.projects/**/.cache/
